body{
    background-color: var(--light-blue);
    
}

.testimonials{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 250px 250px;
    column-gap: 20px;
    align-self: center;
    padding: 50px 250px;
}

.card{
    border-radius: 10px;
    padding: 25px;
}

.card-1{
    width: 370px;
    height: 180px;
    background-color: var(--violet);
    grid-column: span 2;
    
}

.card-2{
    width: 150px;
    height: 180px;
    background-color: var(--dark-gray);
}

.card-3{
    width: 150px;
    height: 430px;
    background-color: var(--white);
    grid-row: span 2;
}

.card-4{
    width: 150px;
    height: 180px;
    background-color: var(--white);

}

.card-5{
    width: 370px;
    height: 180px;
    background-color: var(--dark-blue);
    grid-column: span 2;
}