body{
    background-color: var(--light-blue);
    
}

.testimonials{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 25rem 25rem 25rem 25rem;
    grid-template-rows: 25rem 25rem;
    gap: 2rem;
    /* align-content: center; */
    justify-content: center;
    
}

.card{
    box-sizing: border-box;
    border-radius: 1rem;
    height: 25rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-bottom: 2.5rem;
}

.card-1{
    background: var(--violet);
    width: 52rem;
    grid-column: span 2;

}

.card-2{
    padding-top: 1.5em;
    padding-bottom: 2.5rem;
    background: var(--dark-gray);
    width: 25rem;
}

.card-3{
    padding-top: 1.5rem;
    padding-bottom: 2.5rem;
    background: var(--white);
    grid-row: span 2;
    width: 25rem;
    height: 52rem;
}

.card-4{
    padding-top: 1.5rem;
    padding-bottom: 2.5rem;
    background: var(--white);
    width: 25rem;
}

.card-5{
    padding-top: 1.5rem;
    padding-bottom: 2.5rem;
    background: var(--dark-blue);
    width: 52rem;
    grid-column: span 2 ;
}

/* primeiro card */

.quota{
    display: inline;
    margin-left: 35rem;
}

.profile{
    margin-top: -90px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.profile-photo{
    border: 1px solid var(--white);
    border-radius: 50%;
    grid-row: span 2;
    align-self: center;
    width: 4.0rem;

}

.profile-user-name{
    margin-left: -16.5rem;
    font-family: var(--fonte);
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}

.profile-user-graduate{
    margin-left: -16.5rem;
    font-family: var(--fonte);
    font-size: 1.2rem;
    color: var(--light-gray);
    font-weight: 500;
}

.text-intro{
    line-height: 1.55rem;
    font-family: var(--fonte);
    color: var(--white);
    font-size: 1.65rem;
    font-weight: 600;

}

.text-full{
    line-height: 1.55rem;
    margin-top: 2rem;
    font-family: var(--fonte);
    color: var(--light-gray);
    font-size: 1.30rem;
    font-weight: 500;
}

/* segundo card */

.profile-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.profile-user-name-2{
    margin-left: -3.2rem;
    font-family: var(--fonte);
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}

.profile-user-graduate-2{
    margin-left: -3.2rem;
    font-family: var(--fonte);
    font-size: 1.2rem;
    color: var(--light-gray);
    font-weight: 500;
}

.text-intro-2{
    line-height: 1.55rem;
    font-family: var(--fonte);
    color: var(--white);
    font-size: 1.65rem;
    font-weight: 600;
}

.text-full-2{
    line-height: 1.55rem;
    margin-top: 2rem;
    font-family: var(--fonte);
    color: var(--light-gray);
    font-size: 1.30rem;
    font-weight: 500;
}

/* terceiro card */

.profile-3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.profile-user-name-3{
    margin-left: -3.2rem;
    font-family: var(--fonte);
    color: var(--dark-blue);
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}

.profile-user-graduate-3{
    margin-left: -3.2rem;
    font-family: var(--fonte);
    font-size: 1.2rem;
    color: var(--light-gray);
    font-weight: 500;
}

.text-intro-3{
    line-height: 1.55rem;
    font-family: var(--fonte);
    color: var(--dark-blue);
    font-size: 1.65rem;
    font-weight: 600;
}

.text-full-3{
    line-height: 1.72rem;
    margin-top: 2rem;
    font-family: var(--fonte);
    color: var(--light-gray);
    font-size: 1.30rem;
    font-weight: 500;
}

/* quarto card */

.profile-4{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.profile-user-name-4{
    margin-left: -3.2rem;
    font-family: var(--fonte);
    color: var(--dark-blue);
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}

.profile-user-graduate-4{
    margin-left: -3.2rem;
    font-family: var(--fonte);
    font-size: 1.2rem;
    color: var(--light-gray);
    font-weight: 500;
}

.text-intro-4{
    line-height: 1.55rem;
    font-family: var(--fonte);
    color: var(--dark-blue);
    font-size: 1.65rem;
    font-weight: 600;
}

.text-full-4{
    line-height: 1.72rem;
    margin-top: 2rem;
    font-family: var(--fonte);
    color: var(--light-gray);
    font-size: 1.30rem;
    font-weight: 500;
}

/* quinto card */
.profile-5{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.profile-user-name-5{
    margin-left: -16.5rem;
    font-family: var(--fonte);
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}

.profile-user-graduate-5{
    margin-left: -16.5rem;
    font-family: var(--fonte);
    font-size: 1.2rem;
    color: var(--light-gray);
    font-weight: 500;
}

.text-intro-5{
    line-height: 1.55rem;
    font-family: var(--fonte);
    color: var(--white);
    font-size: 1.65rem;
    font-weight: 600;
}

.text-full-5{
    line-height: 1.72rem;
    margin-top: 2rem;
    font-family: var(--fonte);
    color: var(--light-gray);
    font-size: 1.30rem;
    font-weight: 500;
}
