:root{
    font-size: 10px;

    --violet: hsl(263, 55%, 52%);
    --dark-gray: hsl(217, 19%, 35%);
    --dark-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(0, 0%, 81%);
    --light-blue: hsl(210, 46%, 95%);

    /* fonte */
    --fonte: 'Barlow Semi Condensed', sans-serif;
}