body {
    font-family: 'Karla', sans-serif;
    background-color: var(--light-gray);

}

.container {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-areas:
        ". . . ."
        ". join join ."
        ". sign-up why-us ."
        ". . . .";
    box-shadow: 0px 13px 10px black;

}

section {
    padding: 3rem;
    /* border: 1px solid black; */
}

h1 {
    font-size: 1.7rem;
    color: var(--cyan-dark);
    margin-bottom: 1.8rem;
    font-weight: 700;
    
}

h2 {
    font-size: 1.6rem;
    color: white;
    font-weight: 400;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.join {
    background: white;
    grid-area: join;
}

.join > span{
    color: var(--bright-yellow);
    font-size: 1.4rem;
    font-weight: 700;
}

.join > p{
    margin-top: 0.8rem;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.7rem;
    color: var(--grayish-blue);
}

.prince-container{
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.price-period{
    font-size: 1.3rem;
    font-weight: 400;
    padding-left: 0.5rem;
    color: hsl(204, 43%, 93%, 0.4);
}

.price{
    font-size: 2.5rem;
    color: white;
}

.sign-up {
    background-color: var(--cyan-dark);
    grid-area: sign-up;
}

.sign-up > button {
    background-color: var(--bright-yellow);
    width: 95%;
    padding: 1rem;
    /* text-decoration: none; */
    font-size: 1.1rem;
    color: var(--light-gray);
    margin-bottom: 1.8rem;
    font-weight: 700;
    border-radius: 0.4rem;
    border: none;
    box-shadow: 0 3px 8px #6d6c6c94;
}

.why-us {
    background-color: var(--cyan);
    grid-area: why-us;
}

.text-description{
    line-height: 1.7rem;
    font-size: 1.3rem;
    color: var(--light-gray);
    margin-bottom: 2rem;
}
